@model TestDA.Areas.Manager.Models.ViewModel.HocPhiData

@{
    ViewBag.Title = "TKHocPhi";
    Layout = "~/Areas/Manager/Views/Shared/_AdminPartial.cshtml";
}
<section class="content-header">
    <h1>
        <i class="fa fa-building-o"></i>
        Thống kê
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li class="active">Thống kê</li>
    </ol>
</section>
<section class="content">
    <!-- Main content -->
    <div class="container body-content">
        <div class="content-TKhocPhi">
            <h2>Thống kê </h2>
            @*//thống kê danh sách học sinh nợ học phí*@
            @using (Html.BeginForm("TKHocPhiPartial", "HocPhi", FormMethod.Get, new { id = "thongKe" }))
            {
                <div class="dsThongKe">
                    <fieldset class="the-fieldset">
                        <legend class="the-legend">Danh sách nợ học phí</legend>
                        <div class="">
                            <div class="form-group col-md-3">
                                <input type="text" class="form-control" placeholder="Nhập từ khóa tìm kiếm...." name="tukhoa" value="@ViewBag.TKTimKiem" id="tTuKhoa">
                            </div>
                            <div class="form-group col-md-2">
                                @Html.DropDownList("namHoc", ViewBag.namHoc as SelectList, "--Chọn năm học-- ", new { @class = "form-control", @id = "tNamHoc" })
                                <span class="error-year text-danger"></span>
                            </div>
                            <div class="form-group col-md-2">
                                @Html.DropDownList("thang", ViewBag.thang as SelectList, "--Tháng-- ", new { @class = "form-control", @id = "tThang" })
                            </div>
                            <div class="form-group col-md-2">
                                @Html.DropDownList("loaiHP", ViewBag.loaiHP as SelectList, "--Hình thức-- ", new { @class = "form-control", @id = "tLoaiHP" })
                            </div>
                            <div class="form-group col-md-3">
                                @Html.DropDownList("maLop", ViewBag.maLop as SelectList, "--Chọn lớp-- ", new { @class = "form-control", @id = "tMaLop" })
                            </div>
                        </div>
                        <div class="clearfix">  </div>
                        <div class="">
                            <div class="form-group col-md-10">
                                <a href=" javarscript:void()" class="btn btn-primary lnkSearch"> Tìm kiếm thông tin</a>
                                <a href="javarscript:void()" class="lnkPrint btn btn-primary"><i class=""></i>Xuất ra excel</a>
                            </div>
                        </div>

                    </fieldset>
                </div>
            }
            @*//hiển thị danh sách tìm kiếm*@

            <div id="showList">
            </div>
            @*//danh sách học phí*@

        </div>
    </div>
</section>
<style>
    fieldset.the-fieldset {
        border: 1px dotted #252424 !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
    }

    legend.the-legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: inherit;
        padding: 0 10px;
        border-bottom: none;
    }
</style>
@section Scripts{
    <script>
        $(function () {
            //hiển thị học sinh chưa đóng học phí
            $("a.lnkSearch").click(function () {
                var tukhoa = $('#tTuKhoa').val();
                var loaiHP = $('#tLoaiHP').val();
                var namHoc = $('#tNamHoc').val();
                var thang = $('#tThang').val();
                var maLop = $('#tMaLop').val();

                if (namHoc == "") {
                    $('.error-year').html("Chọn năm học cần xem");
                    return false;
                }
                else {
                    $.ajax({
                        type: "POST",
                        url: '@(Url.Action("TKHocPhiPartial", "HocPhi"))',
                        data: { tukhoa: tukhoa, namHoc: namHoc, loaiHP: loaiHP, thang: thang, maLop: maLop },
                        success: function (data) {
                            $('#showList').html(data);
                        },
                        error: function (error) {

                        }
                    });
                }
                return false;

            });////
            //đưa ra excel những học sinh nợ học phí
            $("a.lnkPrint").click(function () {
                var loaiHP = $('#tLoaiHP').val();
                var namHoc = $('#tNamHoc').val();
                var thang = $('#tThang').val();

                if (namHoc == "") {
                    $('.error-year').html("Chọn năm học cần xem");
                    return false;
                }
                else {
                    $('.error-year').html("");
                    $.ajax({
                        type: "POST",
                        url: '@(Url.Action("ExportExcel", "HocPhi"))',
                        data: { namHoc: namHoc, loaiHP: loaiHP, thang: thang },
                        success: function (data) {
                            alert(data);
                        },
                        error: function (error) {

                        }
                    });
                }
                return false;
            });
            ///
        });
    </script>
}

