@model TestDA.Areas.Manager.Models.ViewModel.TPNhapKhoData

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Manager/Views/Shared/_AdminPartial.cshtml";
}

<section class="content-header">
    <h1>
        <i class="fa fa-building-o"></i>
        Thực phẩm nhập kho
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li class="active">Thực phẩm nhập kho</li>
    </ol>
</section>
<section class="content">
    <!-- Main content -->
    <div class="container body-content">
        <div class="content-tpK">
            <h2>Danh sách thực phẩm nhập kho</h2>
            @using (Html.BeginForm("Index", "TPNhapKho", FormMethod.Get, new { @class = "form-inline", role = "search", id = "search-form", onsubmit = "return empty();" }))
            {
                @*@Html.AntiForgeryToken()*@
                if (@TempData["Success"] != null)
                {
                    <div class="add-sucess">
                        <script>
                            toastr.options = {
                                "closeButton": true,
                                "debug": false,
                                "newestOnTop": false,
                                "progressBar": false,
                                "positionClass": "toast-bottom-right",
                                "preventDuplicates": false,
                                "onclick": null,
                                "showDuration": "300",
                                "hideDuration": "1000",
                                "timeOut": "5000",
                                "extendedTimeOut": "1000",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut"
                            };
                            toastr["success"]("@TempData["Success"]");
                        </script>
                    </div>
                }
                <div class="form-inline">
                    <div class="">
                        @*tìm kiếm*@
                        <div class="form-group">
                            <label class="choice-type btn btn-default disabled">Tìm kiếm thông tin <i class="fa fa-angle-double-right" aria-hidden="true"></i></label>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Nhập từ khóa tìm kiếm...." name="tukhoa" value="@ViewBag.TKTimKiem" id="search-box" style="width:200px;">
                        </div>
                        <div class="form-group">
                            <input type="date" class="form-control" name="ngayNK" value="@ViewBag.ngayNhapKho" id="search-box" style="width:200px;">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary hidden-xs"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                    <div class="clearfix">  </div>
                    @Html.Raw("<span class='pull-right'> Tổng số bản ghi là: " + Model.danhSachTPNhapKho.Count().ToString() + "</span>")

                </div>
            }
            @*thêm mới bản ghi*@
            <div class="form-inline" style=" margin: 10px 0;">
                <div class="form-group">
                    <a href="/Manager/TPNhapKho/ChucNang?type=Insert" class="btn btn-primary hidden-xs"><i class="glyphicon glyphicon-plus"></i>Thêm thực phẩm nhập kho</a>
                </div>
            </div>
        </div>
        @*kết thúc form tìm kiếm*@
        <div id="dstpNhapKho">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr class="th-style">
                        <th>STT</th>
                        <th>Ngày nhập kho</th>
                        <th>Thực phẩm</th>
                        <th>Số lượng (kg)</th>
                        <th>Ghi chú</th>
                        <th style="text-align:center;">Sửa</th>
                        <th style="text-align:center;">Xóa</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model.danhSachTPNhapKho.Count > 0)
                        {
                            int j = 0;
                            foreach (var i in Model.danhSachTPNhapKho)
                            {
                                j++;
                                <tr>
                                    <td>@j.ToString()</td>
                                    <td>
                                        @Html.DisplayFor(m => i.ngayNhapKho)
                                    </td>
                                    <td>@Html.DisplayFor(m => i.tenThucPham)</td>
                                    <td>@Html.DisplayFor(m => i.soLuong)</td>
                                    <td> @Html.DisplayFor(m => i.ghiChu)</td>
                                    <td style="text-align:center;"> <a href="/Manager/TPNhapKho/ChucNang?type=Edit&maTPKho=@i.maTPKho" class="lnkEdit" data-value="@i.maTPKho" id="nhaCC_@i.maTPKho"><i class="fa fa-edit"></i></a></td>
                                    <td style="text-align:center;"><a href="javascript:void(0)" class="lnkDelete" data-value="@i.maTPKho" id="groupNhaCC_@i.maTPKho"><i class="fa fa-times-circle-o" aria-hidden="true"></i></a></td>
                                    
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="7"> <p style="text-align:center;font-weight:bold;">Không có bản ghi nào</p></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            @*xóa một bản ghi*@
            <div id="dialog-confirm" class="modal" style="display: none">
                <p>
                    @*<i class="fa fa-warning" style="float: left; margin: 0 7px 20px 0; color:#ffd800;"></i>*@
                    <span>Bạn chắc chắn xóa bản ghi này. Tiếp tục?</span>
                </p>
            </div>
            @*kết thúc xóa một bản ghi*@
        </div>
    </div>
</section>
@section Scripts{
    <script type="text/javascript">
        function message_success(notice) {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
            toastr["success"](notice);
        };
        $(function () {
            //xóa một bản ghi
            $("a.lnkDelete").on("click", function (e) {
                var id = $(this).data('value');//lấy giá trị id của bản ghi
                var $tr = $(this).closest('tr');//lấy hàng
                $("#dialog-confirm").dialog({
                    autoOpen: false,
                    resizable: false,
                    width: 350,
                    show: { effect: 'drop', direction: "up" },
                    modal: true,
                    draggable: true,
                    open: function (event, ui) {
                        $(".ui-dialog-titlebar-close").hide();
                    },
                    buttons: [
                        {
                            "text": "Đồng ý",
                            "class": 'btn btn-default',
                            click: function () {
                                $(this).dialog("close");
                                $.ajax({
                                    type: "POST",
                                    url: "@(Url.Action("XoaTPNhapKho", "TPNhapKho"))",
                                    data: { maTPKho: id },
                                    success: function (data) {
                                        if (data == 0) {
                                            $tr.css("background-color", "#ec645e");
                                            $tr.fadeOut(1600, "linear", function () { $tr.remove(); });
                                            location.reload();
                                            //hiển thị thông báo ra màn hình
                                            message_success("Xóa bản ghi thành công");
                                        } else {
                                            alert("Bản ghi này có chứa trong bảng khác. Hãy xóa những dữ liệu đó trước!");
                                        }
                                    },
                                    error: function (error) {

                                    }

                                });
                                $(this).dialog("destroy");
                            }

                        },

                    {
                        "text": "Hủy bỏ",
                        "class": 'btn btn-default',
                        click: function () {
                            $(this).dialog("close");
                        }
                    }
                    ]
                });
                $("#dialog-confirm").dialog("open");
                return false;
            });
        });
    </script>
    <script>
        function empty() {
            var x = $('#search-box').val();
            if (x == " " || x == null) {
                var url = window.location.pathname;
                window.location(url);
                // return false;
            }
        }
    </script>
}


