@model TestDA.Areas.Manager.Models.ViewModel.XepLopData

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Manager/Views/Shared/_AdminPartial.cshtml";
}

<section class="content-header">
    <h1>
        <i class="fa fa-building-o" aria-hidden="true"></i>
        Lớp
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li class="active">Lớp</li>
    </ol>
</section>
<section class="content">
    <div class="container body-content">
        <h4>Xem danh sách học sinh</h4>
        <div class="timKiem">
            @using (Html.BeginForm("Index", "XepLop", FormMethod.Post, new { @id = "dsHocSinhLop" }))
            {
                <div class="viewClass">
                    <fieldset class="the-fieldset">
                        <legend class="the-legend">Thực hiện:</legend>
                        <div class="form-inline">
                            <div class="form-group col-md-3">
                                @Html.DropDownListFor(model => model.namHoc, ViewBag.namHoc as SelectList, "--Năm học-- ", new { @class = "form-control", @id = "vNamHoc" })
                                @Html.ValidationMessageFor(model => model.namHoc, null, new { @class = "text-danger", @id = "error-namHoc" })
                            </div>
                            <div class="form-group col-md-3">
                                @Html.DropDownListFor(model => model.maLop, null, "--Chọn lớp-- ", new { @class = "form-control", @id = "vMaLop" })
                                @Html.ValidationMessageFor(model => model.maLop, null, new { @class = "text-danger", @id = "error-maLop" })
                            </div>
                            <div class="form-group col-md-6">
                                <a ref="javascript:void()" class="lnkXemHS btn btn-primary"> Xem học sinh</a><a ref="javascript:void()" class="lnkUpdate btn btn-primary" style=" margin: 0 5px;">Chuyển lớp</a><a href="javarscript:void()" class="lnkPrint btn btn-primary"><i class=""></i>Xuất ra excel</a>
                            </div>
                            <div class="clearfix">  </div>
                        </div>
                    </fieldset>
                </div>
            } @*xem danh sách học sinh*@
            @using (Html.BeginForm("Index", "XepLop", FormMethod.Post, new { @id = "dsHocSinhChuyenLop" }))
            {
                <div id="chuyenLop" style="display:none;">
                    <fieldset class="the-fieldset">
                        <legend class="the-legend">Thực hiện:</legend>
                        <div class="">
                            @Html.DropDownList("cNamHoc", ViewBag.namHoc as SelectList, "--Năm học-- ", new { @class = "form-control", @id = "cNamHoc" })
                            <span class="text-danger error-cNamHoc"></span>
                        </div>
                        <div class="">
                            @Html.DropDownList("cLopHoc", ViewBag.maLop as SelectList, "--Chọn lớp-- ", new { @class = "form-control", @id = "cLopHoc" })
                            <span class="text-danger error-cLopHoc"></span>
                        </div>
                        <div class="clearfix">  </div>
                    </fieldset>
                </div>@*//form chuyển lớp học*@
            }
        </div>
        <div>
            <h4>DANH SÁCH HỌC SINH</h4>
            <div id="listHocSinhLopHoc">
                <table class="table table-bordered table-hover" id="dsLop">
                    <thead>
                        <tr style="background:#ffefd5;">
                            <th style="text-align:center;"><input type="checkbox" id="checkAll"></th>
                            <th>STT</th>
                            <th>Mã học sinh</th>
                            <th>Tên học sinh</th>
                            <th>Ngày sinh</th>
                            <th>Giới tính</th>
                            <th>Quê quán</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model.danhSachHSLop.Count > 0)
                            {
                                int j = 0;
                                foreach (var i in Model.danhSachHSLop)
                                {
                                    j++;
                                    <tr>
                                        @if (i.ghiNhan == "1")
                                        {
                                            <td></td>
                                        }
                                        else
                                        {
                                            <td style="text-align:center;"><input type="checkbox" class="checkBox" value="@i.maHocSinh" /></td>
                                        }                                        
                                        <td>
                                            @j.ToString()
                                        </td>
                                        <td>
                                            @Html.DisplayFor(m => i.maHocSinh)
                                        </td>
                                        <td>@Html.DisplayFor(m => i.tenHocSinh)</td>
                                        <td>@Html.DisplayFor(m => i.ngaySinh)</td>
                                        <td>
                                            @if (i.gioiTinh == "1")
                                            {
                                                <span class="gioiTinh">Nam</span>
                                            }
                                            else
                                            {
                                                <span class="gioiTinh">Nữ</span>
                                            }
                                        </td>
                                        <td>@Html.DisplayFor(m => i.queQuan)</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="7"> <p style="text-align:center;">Không có bản ghi nào</p></td>
                                </tr>
                            }

                        }
                    </tbody>
                </table>@**kết thú table*@
            </div>
        </div>
    </div>
</section>
<style>
    input[type=checkbox] {
        /* Double-sized Checkboxes */
        -ms-transform: scale(1.5); /* IE */
        -moz-transform: scale(1.5); /* FF */
        -webkit-transform: scale(1.5); /* Safari and Chrome */
        -o-transform: scale(1.5); /* Opera */
    }

    fieldset.the-fieldset {
        border: 1px dotted #252424 !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
    }

    legend.the-legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: inherit;
        padding: 0 10px;
        border-bottom: none;
    }
</style>
@section Scripts{
    <script>
    $(function () {
        var $form = $('#dsHocSinhLop');
        $.validator.unobtrusive.parse($form);
        $form.validate();
        //thực hiện chuyển lớp học
        $(".lnkUpdate").click(function () {
            var maLop = $('#vMaLop').val();
            var namHoc = $('#vNamHoc').val();
            //lấy danhh sách bản ghi
            var selectedIDs = new Array();
            $('input:checkbox.checkBox').each(function () {
                if ($(this).prop('checked')) {
                    selectedIDs.push($(this).val());
                }
            });
            //console.log(selectedIDs.length);
            //nếu không chọn cái nào mà nhấn click thì đưa ra thông báo
            if (selectedIDs.length == 0) {
                alert("Không có bản ghi nào được chọn.");
                return false;
            }
            else {
                if ($form.valid()) {
                    $.ajax({
                        type: "POST",
                        url: "@(Url.Action("SuaHocSinhLop", "XepLop"))",
                        data: { mhSL: selectedIDs, maLop: maLop, namHoc: namHoc },
                        success: function (data) {
                            alert(data);
                            location.reload();
                        },
                        error: function (error) {

                        }

                    });
                }
                return false;
            }
        });
        //tìm kiếm danh sách học sinh của một lớp
        $(".lnkXemHS").click(function () {
            var maLop = $('#vMaLop').val();
            var namHoc = $('#vNamHoc').val();

            console.log(namHoc);

            if ($form.valid()) {
                var url = '@Url.Action("HocSinhLop", "XepLop")';
                url += '/?maLop=' + maLop + '&namHoc=' + namHoc;
                window.location.href = url;
            }
            return false;
        });///kết thúc

        //The pop() method removes the last element of an array, and returns that element.
        $("#checkAll").click(function () {
            $(".checkBox").prop('checked', $(this).prop('checked'));
        });

        //xóa một bản ghi
            @*$("a.lnkDelete").on("click", function () {

                var selectedIDs = new Array();
                $('input:checkbox.checkBox').each(function () {
                    if ($(this).prop('checked')) {
                        selectedIDs.push($(this).val());
                    }
                });
                //console.log(selectedIDs.length);
                //nếu không chọn cái nào mà nhấn click thì đưa ra thông báo
                if (selectedIDs.length == 0) {
                    alert("Không có bản ghi nào được chọn.");
                    return false;
                }
                else {
                    var answer = confirm("Bạn có chắc chắn xóa bản ghi đã chọn ?");
                    if (answer) {
                        $.ajax({
                            type: "POST",
                            url: '@(Url.Action("XoaHocSinhLop", "XepLop"))',
                            data: { mhSL: selectedIDs },
                            dataType: "json",
                            success: function (data) {
                                alert(data);
                                location.reload();
                            },
                            error: function (error) {

                            }
                        });
                    } else {

                    }
                    return false;
                    // }
                }
                return false;
            });//Xóa một bản ghi*@
            //đưa ra excel danh sách học sinh
            $("a.lnkPrint").click(function () {
                var maLop = $('#vMaLop').val();
                var namHoc = $('#vNamHoc').val();

                console.log(namHoc);

                if ($form.valid()) {

                    $.ajax({
                        type: "POST",
                        url: '@(Url.Action("ExportExcel", "XepLop"))',
                        data: { maLop: maLop, namHoc: namHoc },
                        success: function (data) {
                            alert(data);
                        },
                        error: function (error) {

                        }
                    });
                }
                return false;
            });
        ///
        });
    </script>
}
