@model TestDA.Areas.Manager.Models.ViewModel.MonAnData

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Manager/Views/Shared/_AdminPartial.cshtml";
}

<section class="content-header">
    <h1>
        <i class="fa fa-cutlery"></i>
        Món ăn
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li class="active">Món ăn</li>
    </ol>
</section>
<section class="content">
    <div id="listMonAn">
        <!-- Main content -->
        <div class="container body-content">
            <h4>Danh sách  món ăn</h4>
            @*//form tìm kiếm*@
            <div class="form-search">
                @using (Html.BeginForm("Index", "MonAn", FormMethod.Get, new { @class = "form-inline", role = "search", id = "search-form", onsubmit = "return empty();" }))
                {
                    @*@Html.AntiForgeryToken()*@
                    if (@TempData["Success"] != null)
                    {
                        <div class="add-sucess">
                            <script>
                                toastr.options = {
                                    "closeButton": true,
                                    "debug": false,
                                    "newestOnTop": false,
                                    "progressBar": false,
                                    "positionClass": "toast-bottom-right",
                                    "preventDuplicates": false,
                                    "onclick": null,
                                    "showDuration": "300",
                                    "hideDuration": "1000",
                                    "timeOut": "5000",
                                    "extendedTimeOut": "1000",
                                    "showEasing": "swing",
                                    "hideEasing": "linear",
                                    "showMethod": "fadeIn",
                                    "hideMethod": "fadeOut"
                                };
                                toastr["success"]("@TempData["Success"]");
                            </script>
                        </div>
                    }
                    <div class="form-inline">
                        <div class="form-group">
                            <label class="choice-type btn btn-default disabled">Tìm kiếm thông tin <i class="fa fa-angle-double-right" aria-hidden="true"></i></label>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Nhập thông tin cần tìm...." name="tukhoa" value="@ViewBag.TuKhoaTK" id="search-box" style="width:200px;">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                        </div>
                        <div class="clearfix">  </div>
                        @Html.Raw("<span class='pull-right'> Tổng số bản ghi là: " + Model.danhSachMonAn.Count().ToString() + "/" + @ViewBag.Total + "</span>")
                    </div>
                }
            </div>
            @*thêm mới bản ghi*@
            @using (Html.BeginForm("ThemMonAn", "MonAn", FormMethod.Post, new { @class="themMonAn"}))
            {
                <div class="form-horizontal" style=" margin: 10px 0;">
                    <fieldset class="the-fieldset">
                        <legend class="the-legend">Thêm mới món ăn</legend>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.tenMonAn)
                            @Html.EditorFor(model => model.tenMonAn, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.tenMonAn, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4" style="margin:0 15px;">
                            @Html.LabelFor(model => model.maLoaiMonAn)
                            @Html.DropDownListFor(model => model.maLoaiMonAn, null, "--Chọn loại món ăn-- ", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.maLoaiMonAn, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4">
                            <label class=""></label>
                            <button type="submit" class="btn btn-primary" style="margin-top: 2.4rem;"><i class="fa fa-plus"></i> Thêm mới</button>
                        </div>
                        
                    </fieldset>
                </div>
            }
            @*kết thúc form tìm kiếm*@
            <table class="table table-bordered table-hover" id="dsMonAn">
                <thead>
                    <tr style=" text-align:center; background:#ffefd5;">
                        @*<th><input type="checkbox" id="checkAll"></th>*@
                        <th style=" width: 9%;">Tên món ăn</th>
                        <th>Số người</th>
                        <th style="width:9%;">Nguyên liệu</th>
                        <th>Chuẩn bị</th>
                        <th>Chế biến</th>
                        <th style=" width: 9%;">Thành phần dinh dưỡng</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model.danhSachMonAn.Count > 0)
                        {
                            //int j = 0;
                            foreach (var i in Model.danhSachMonAn)
                            {
                                // j++;
                                <tr>
                                    @*<td>@j.ToString()</td>*@
                                    <td style="text-align:center;">
                                        @Html.DisplayFor(m => i.tenMonAn) <div>
                                            <a href="/Manager/MonAn/SuaMonAn?type=Edit&mamonan=@i.maMonAn" class="lnkEdit">Sửa | </a>
                                            <a href="javascript:void(0)" class="lnkDelete" data-value="@i.maMonAn" id="monan_@i.maMonAn">Xóa</a>
                                        </div>
                                    </td>
                                    <td> @Html.DisplayFor(m => i.soLuongNguoi)</td>
                                    <td>
                                        <a href="#chitiet" class="lnkChiTietTP" data-value="@i.maMonAn" id="CTMonAn_@i.maMonAn" data-toggle="modal" data-target="#chitietModal">Chi tiết |</a>
                                        <a href="/Manager/MonAn/SuaTPMA?type=Edit&maMonAn=@i.maMonAn" class="lnkEdit" data-value="@i.maMonAn">Thay đổi</a>
                                        @*xem chi tiết nguyên liệu món ăn*@
                                        <div id="chitietModal" class="modal fade" role="dialog">
                                            <div class="modal-dialog">
                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title">Chi tiết thành phần nguyên liệu</h4>
                                                    </div>
                                                    <div class="modal-body overflow-modal" style="overflow: auto;">
                                                        @Html.Action("TPMonAnPartial", "MonAn", new { maMonAn = @i.maMonAn })
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a href="/Manager/MonAn/SuaTPMA?type=Edit&maMonAn=@i.maMonAn" class="lnkEdit btn btn-primary" data-value="@i.maMonAn"><i class="fa fa-edit"></i>Sửa thông tin</a> <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </td>
                                    <td> @Html.DisplayFor(m => i.chuanBi)</td>
                                    <td> @Html.DisplayFor(m => i.cheBien)</td>
                                    <td>
                                        <a href="#thp" class="lnkDDMonAn" data-value="@i.maMonAn" id="DDMonAn_@i.maMonAn" data-toggle="modal" data-target="#myModal">Chi tiết</a>
                                        <!-- Modal -->
                                        <div id="myModal" class="modal fade" role="dialog">
                                            <div class="modal-dialog">
                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title">Thành phần dinh dưỡng</h4>
                                                    </div>
                                                    <div class="modal-body overflow-modal" style="overflow: auto;">
                                                        <table class="table table-bordered table-hover" id="dstpMonAn">
                                                            <thead>
                                                                <tr class="thpdd att-table" style=" text-align:center; background:#ffefd5;">
                                                                    <th>Protid ĐV</th>
                                                                    <th>Protid TV</th>
                                                                    <th>Lipid ĐV</th>
                                                                    <th>Lipid TV</th>
                                                                    <th>Glucid</th>
                                                                    <th>Calo</th>
                                                                    <th>Canxi</th>
                                                                    <th>Photpho</th>
                                                                    <th>Sắt</th>
                                                                    <th>Vitamin A</th>
                                                                    <th>Vitamin B1</th>
                                                                    <th>Vitamin B2</th>
                                                                    <th>Vitamin PP</th>
                                                                    <th>Vitamin C</th>
                                                                </tr>
                                                                <tr class="dvtinh" style="background: #fff5ee;">
                                                                    <td>g</td>
                                                                    <td>g</td>
                                                                    <td>KCal</td>
                                                                    <td>g</td>
                                                                    <td>g</td>
                                                                    <td>g</td>
                                                                    <td>g</td>
                                                                    <td>g</td>
                                                                    <td>mg</td>
                                                                    <td>mg</td>
                                                                    <td>mg</td>
                                                                    <td>mg</td>
                                                                    <td>mcg</td>
                                                                    <td>mcg</td>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>

                                                                    <td> @Html.DisplayFor(m => i.tongProtidDV)</td>
                                                                    <td> @Html.DisplayFor(m => i.tongProtidTV)</td>
                                                                    <td> @Html.DisplayFor(m => i.tongLipidDV)</td>
                                                                    <td> @Html.DisplayFor(m => i.tongLipidTV)</td>
                                                                    <td> @Html.DisplayFor(m => i.tongGlucid)</td>
                                                                    <td> @Html.DisplayFor(m => i.tongCalo)</td>
                                                                    <td> @Html.DisplayFor(m => i.tongCanxi)</td>
                                                                    <td> @Html.DisplayFor(m => i.tongPhotpho)</td>
                                                                    <td> @Html.DisplayFor(m => i.tongSat)</td>
                                                                    <td> @Html.DisplayFor(m => i.tongVitaminA)</td>
                                                                    <td> @Html.DisplayFor(m => i.tongVitaminB1)</td>
                                                                    <td> @Html.DisplayFor(m => i.tongVitaminB2)</td>
                                                                    <td> @Html.DisplayFor(m => i.tongVitaminPP)</td>
                                                                    <td> @Html.DisplayFor(m => i.tongVitaminC)</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="20"> <p style="text-align:center;">Không có bản ghi nào</p></td>
                            </tr>
                        }

                    }
                </tbody>
            </table>@*bảng món ăn*@
            <!--Phân trang-->
            @if (ViewBag.TotalPage > 1)
            {
                var pageDisplay = (int)ViewBag.MaxPage;
                int totalPage = (int)ViewBag.TotalPage;
                int currentPage = ((int)ViewBag.Page);

                // Create numeric links
                var startPageIndex = Math.Max(1, currentPage - pageDisplay / 2);
                var endPageIndex = Math.Min(totalPage, currentPage + pageDisplay / 2);

                var link = "/Manager/MonAn/Index";
                <nav>
                    <ul class="pagination">
                        @if (currentPage > ViewBag.First)
                        {
                            <li><a href="@link?page=@ViewBag.First" title="Trang đầu" class="first"><i class="fa fa-angle-double-left"></i></a></li>
                            <li>
                                <a href="@link?page=@ViewBag.Prev" title="Trang trước" class="prev"><i class="fa fa-angle-left"></i></a>
                            </li>

                        }
                        @for (int i = startPageIndex; i <= endPageIndex; i++)
                        {
                            if (currentPage == i)
                            {

                                <li> <a href="@link?page=@i" class="active" title="Trang @i">@i</a></li>
                            }
                            else
                            {
                                <li><a href="@link?page=@i" title="Trang @i" class="pos">@i</a></li>
                            }
                        }
                        @if (currentPage < totalPage)
                        {
                            <li><a href="@link?page=@ViewBag.Next" class="next" title="Trang sau"><i class="fa fa-angle-right"></i></a></li>
                            <li> <a href="@link?page=@ViewBag.Last" class="last" title="Trang cuối"><i class="fa fa-angle-double-right"></i></a></li>
                        }

                    </ul>
                </nav>

            }
            else
            {
                @*<span>Không có bản ghi nào</span>*@
            }
            @*kết thúc phân trang*@
        </div>
    </div>
</section>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#ngayGN').datepicker();
        });
    </script>
    <script>
        $(function () {
            //xóa một bản ghi
            $("a.lnkDelete").on("click", function () {
                var id = $(this).data('value');//lấy giá trị id của bản ghi
                console.log(id);
                var $tr = $(this).closest('tr');
                var answer = confirm("Bạn có chắc chắn xóa bản ghi là " + id + " . Tiếp tục?");
                if (answer)
                    $.ajax({
                        type: "POST",
                        url: "@(Url.Action("XoaMonAn", "MonAn"))",
                        data: { maMonAn: id },
                        success: function (data) {
                            if (data == 0) {
                                $tr.css("background-color", "#ec645e");
                                location.reload();

                            } else {
                                //
                            }
                        },
                        error: function (error) {
                        }
                    });
                return false;
            });
        })//Xóa một bản ghi
        function empty() {
            var x = $('#search-box').val();
            if (x == " " || x == null) {
                var url = window.location.pathname;
                window.location(url);
                // return false;
            }
        }
    </script>
}
