<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin Manager | Starter</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link href="~/Content/ionicons.min.css" rel="stylesheet" />
    <!-- Theme style -->
    @*<link rel="stylesheet" href="dist/css/AdminLTE.min.css">*@
    <link href="~/Content/css/AdminLTE.css" rel="stylesheet" />
    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
          page. However, you can choose any other skin. Make sure you
          apply the skin class to the body tag so the changes take effect.
    -->
    <link href="~/Content/css/toastr.min.css" rel="stylesheet" />

    <link href="~/Content/css/skin-blue.css" rel="stylesheet" />
    <link href="~/Content/css/admin.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui-1.10.4.min.css" rel="stylesheet" />

    <link href="~/Content/css/chosen.css" rel="stylesheet" />

    <!-- ./wrapper -->
    <!-- REQUIRED JS SCRIPTS -->
    <!-- jQuery 2.2.3 -->
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>
    <!-- Bootstrap 3.3.6 -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Scripts/admin/app.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>

    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/admin/toastr.min.js"></script>
    <!-- Optionally, you can add Slimscroll and FastClick plugins.
         Both of these plugins are recommended to enhance the
         user experience. Slimscroll is required when using the
         fixed layout. -->
    <!--Add js-->
    @RenderSection("Scripts", required: false/*required*/)
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <!-- Main Header -->
        <header class="main-header">
            <!-- Logo -->
            <a href="@Url.Action("Index","Admin")" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini">QLBH</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><i class="fa fa-home"></i> Trang quản trị</span>
            </a>
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        @*<li class="dropdown messages-menu">
                            <!-- Menu toggle button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                                <span class="label label-success">4</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 4 messages</li>
                                <li>
                                    <!-- inner menu: contains the messages -->
                                    <ul class="menu">
                                        <li>
                                            <!-- start message -->
                                            <a href="#">
                                                <div class="pull-left">
                                                    <!-- User Image -->
                                                    @*<img src="" class="img-circle" alt="User Image">*@
                                                    @*<img src="~/Content/images/_admin/user2-160x160.jpg" class="img-circle" alt="User Image" />
                                                </div>
                                                <!-- Message title and timestamp -->
                                                <h4>
                                                    Support Team
                                                    <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                                </h4>
                                                <!-- The message -->
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <!-- end message -->
                                    </ul>
                                    <!-- /.menu -->
                                </li>
                                <li class="footer"><a href="#">See All Messages</a></li>
                            </ul>
                        </li>*@
                        <!-- /.messages-menu -->
                        <!-- Notifications Menu -->
                        @*<li class="dropdown notifications-menu">
                            <!-- Menu toggle button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">10</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li>
                                    <!-- Inner Menu: contains the notifications -->
                                    <ul class="menu">
                                        <li>
                                            <!-- start notification -->
                                            <a href="#">
                                                <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                            </a>
                                        </li>
                                        <!-- end notification -->
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>*@
                        <!-- Tasks Menu -->
                        @*<li class="dropdown tasks-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-flag-o"></i>
                                <span class="label label-danger">9</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 9 tasks</li>
                                <li>
                                    <!-- Inner menu: contains the tasks -->
                                    <ul class="menu">
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <!-- Task title and progress text -->
                                                <h3>
                                                    Design some buttons
                                                    <small class="pull-right">20%</small>
                                                </h3>
                                                <!-- The progress bar -->
                                                <div class="progress xs">
                                                    <!-- Change the css width attribute to simulate progress -->
                                                    <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">20% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item -->
                                    </ul>
                                </li>
                                <li class="footer">
                                    <a href="#">View all tasks</a>
                                </li>
                            </ul>
                        </li>*@
                        <li>
                            @Html.ActionLink("Giao diện","Index","../Home")
                        </li>
                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                                <img src="~/Content/images/_admin/avatar3.png" class="user-image" alt="User Image" />
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                <span class="hidden-xs" style="display:inline!important;">Hi,@Context.User.Identity.Name</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- The user image in the menu -->
                                <li class="user-header">
                                    <img src="~/Content/images/_admin/avatar3.png" class="img-circle" alt="User Image" />
                                    <p>
                                        Quản trị hệ thống
                                        <small></small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    @*<div class="row">
                                            <div class="col-xs-4 text-center">
                                                <a href="#">Followers</a>
                                            </div>
                                            <div class="col-xs-4 text-center">
                                                <a href="#">Sales</a>
                                            </div>
                                            <div class="col-xs-4 text-center">
                                                <a href="#">Friends</a>
                                            </div>
                                        </div>*@
                                    <!-- /.row -->
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="/Manager/NhanVien/ChiTietNhanVien?type=Detail&maNV=@Context.User.Identity.Name" class="lnkView btn btn-default btn-flat">Hồ sơ</a>
                                    </div>
                                    <div class="pull-right">
                                        @* <a href="#" class="btn btn-default btn-flat">Sign out</a>*@
                                        @Html.ActionLink("Thoát", "DangXuat", "TaiKhoan", null, new { @class = "btn btn-default btn-flat" })
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel">
                    <div class="pull-left image">
                        @*<img src="dist/img/avatar3.png" class="img-circle" alt="User Image">*@
                        <img src="~/Content/images/_admin/avatar3.png" class="img-circle" alt="User Image" />
                    </div>
                    <div class="pull-left info">
                        <p>@Context.User.Identity.Name</p>
                        <!-- Status -->
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <!-- search form (Optional) -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- Sidebar Menu -->
                <ul class="sidebar-menu">
                    <li class="header">DANH MỤC</li>
                    <!-- Optionally, you can add icons to the links -->
                    <li class="active"><a href="about.html"><i class="fa fa-link"></i> <span>Thông tin </span></a></li>
                    <li class=""><a href="/Manager/NhanVien/Index"><i class="fa fa-link"></i> <span>Thông tin nhân viên</span></a></li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-eyedropper"></i> <span>Bài viết</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/Manager/TinTuc/Index">Tất cả bài viết</a></li>    
                            <li><a href="/Manager/Option/PageIndex">Danh sách trang</a></li>               
                            <li><a href="/Manager/NhomTin/Index">Danh mục</a></li>
                        </ul>
                    </li>
                    @*<li class="treeview">
                            <a href="#">
                                <i class="fa fa-cutlery"></i> <span>Quản lý thực phẩm</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="/Manager/ThucPham/Index">Danh sách thực phẩm</a></li>
                                <li><a href="/Manager/ThucPham/Insert">Thêm mới thực phẩm</a></li>
                                <li><a href="/Manager/NhomThucPham/Index">Danh sách nhóm thực phẩm</a></li>
                                <li><a href="/Manager/TPNhapKho/Index">Kho thực phẩm</a></li>
                                <li><a href="/Manager/TPXuatKho/Index">Danh sách thực phẩm xuất kho</a></li>
                            </ul>
                        </li>*@
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-link"></i> <span>Quản lý thực đơn</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            @*<li><a href="/Manager/NhuCauDinhDuong/Index">Nhu cầu dinh dưỡng</a></li>
                                <li><a href="/Manager/NhuCauNangLuong/Index">Nhu cầu năng lượng</a></li>*@
                            @*<li><a href="/Manager/LoaiMonAn/Index">Danh sách loại món ăn</a></li>*@
                            @*<li><a href="/Manager/MonAn/Index">Tham khảo món ăn</a></li>*@
                            <li><a href="/Manager/ThucPham/Index">Danh sách thực phẩm</a></li>
                            <li><a href="/Manager/NhomThucPham/Index">Danh sách nhóm thực phẩm</a></li>
                            <li><a href="/Manager/TPNhapKho/Index">Kho thực phẩm</a></li>
                            <li><a href="/Manager/TPXuatKho/Index">Thực phẩm xuất kho</a></li>
                            <li><a href="/Manager/ThucDon/Index">Thực đơn hàng ngày</a></li>
                            <li><a href="/Manager/PHieuHoaDon/Index">Hóa đơn thực phẩm hàng ngày</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-link"></i> <span>Quản lý lớp học</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/Manager/NhomLop/Index">Nhóm lớp học</a></li>
                            <li><a href="/Manager/Lop/Index">Danh sách lớp học</a></li>
                            <li><a href="/Manager/HocSinh/Index">Danh sách học sinh</a></li>
                            <li><a href="/Manager/XepLop/Index">Xếp lớp học</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-link"></i> <span>Quản lý học phí</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/Manager/LoaiChiPhi/Index">Danh sách loại phí</a></li>
                            <li><a href="/Manager/DMHocPhi/Index">Định mức loại phí</a></li>
                            <li><a href="/Manager/HocPhi/Index">Thu học phí</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-link"></i> <span>Thống kê - Báo cáo</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/Manager/HocPhi/TKHocPhi">Học sinh nợ học phí</a></li>
                            <li><a href="/Manager/HocPhi/HocPhiThu">Tiền thu học phí</a></li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-cog"></i><span>Cấu hình Website</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/Manager/Option/InfoIndex">Thông tin nhà trường</a></li>
                            <li><a href="/Manager/Config/Index">Chỉnh sửa giao diện</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
                Anything you want
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2017 <a href="#">Company</a>.</strong> All rights reserved.
        </footer>
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane active" id="control-sidebar-home-tab">
                    <h3 class="control-sidebar-heading">Recent Activity</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript::;">
                                <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                                    <p>Will be 23 on April 24th</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->
                    <h3 class="control-sidebar-heading">Tasks Progress</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript::;">
                                <h4 class="control-sidebar-subheading">
                                    Custom Template Design
                                    <span class="pull-right-container">
                                        <span class="label label-danger pull-right">70%</span>
                                    </span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->
                </div>
                <!-- /.tab-pane -->
                <!-- Stats tab content -->
                <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
                <!-- /.tab-pane -->
                <!-- Settings tab content -->
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">General Settings</h3>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Report panel usage
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                            <p>
                                Some information about this general settings option
                            </p>
                        </div>
                        <!-- /.form-group -->
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
</body>
</html>
