@model TestDA.Areas.Manager.Models.ViewModel.HoaDonData
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Manager/Views/Shared/_AdminPartial.cshtml";
}

<section class="content-header">
    <h1>
        <i class="fa fa-file-text-o"></i>
        Hóa đơn
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li class="active">Hóa đơn</li>
    </ol>
</section>
<section class="content">
    <!-- Main content -->
    <div class="container body-content">
        <div class="body-style">
            <h2>Danh sách hóa đơn</h2>
            @using (Html.BeginForm("Index", "PhieuHoaDon", FormMethod.Get, new { @class = "form-inline", role = "search", id = "search-form", onsubmit = "return empty();" }))
            {
                @*@Html.AntiForgeryToken()*@
                if (@TempData["Success"] != null)
                {
                    <div class="add-sucess">
                        <script>
                            toastr.options = {
                                "closeButton": true,
                                "debug": false,
                                "newestOnTop": false,
                                "progressBar": false,
                                "positionClass": "toast-bottom-right",
                                "preventDuplicates": false,
                                "onclick": null,
                                "showDuration": "300",
                                "hideDuration": "1000",
                                "timeOut": "5000",
                                "extendedTimeOut": "1000",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut"
                            };
                            toastr["success"]("@TempData["Success"]");
                        </script>
                    </div>
                }
                <div class="form-inline">
                    <div class="">
                        @*tìm kiếm*@
                        <div class="form-group">
                            <label class="choice-type btn btn-default disabled">Tìm kiếm thông tin <i class="fa fa-angle-double-right" aria-hidden="true"></i></label>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Nhập từ khóa tìm kiếm...." name="tukhoa" value="@ViewBag.TKTimKiem" id="search-box" style="width:200px;">
                        </div>
                        <div class="form-group">
                            @*<input type="date" class="form-control textImage" placeholder="Ngày giao nhận..." id="ngayGN" name="ngayGiaoNhan">*@
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary hidden-xs"><i class="glyphicon glyphicon-search"></i>Tìm kiếm</button>
                        </div>
                        @*<br /><span>(Tìm kiếm thông tin theo tên danh mục.)</span>*@
                    </div>
                    <div class="clearfix">  </div>
                    @Html.Raw("<span class='pull-right'> Tổng số bản ghi là: " + Model.danhSachPhieuHD.Count().ToString() + "</span>")

                </div>
            }
            @*thêm mới bản ghi*@
            <div class="form-inline" style=" margin: 10px 0;">
                <div class="form-group">
                    <a href="/Manager/PhieuHoaDon/ChucNang?type=Insert" class="btn btn-primary hidden-xs"><i class="glyphicon glyphicon-plus"></i>Thêm hóa đơn</a>
                </div>
                <div class="form-group">
                    @*thêm biểu tượng in nhà cung cấp*@
                </div>
            </div>
        </div>
        @*kết thúc form tìm kiếm*@
        <div id="dsPhieuHD">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr class="th-style">
                        <th>Số phiếu</th>
                        <th>Ngày tạo</th>
                        <th>Người tạo</th>
                        <th>Thực phẩm</th>
                        <th>Tổng tiền(VND)</th>
                        <th>Ghi chú</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model.danhSachPhieuHD.Count > 0)
                        {
                            //int j = 0;
                            foreach (var i in Model.danhSachPhieuHD)
                            {
                                // j++;
                                <tr>
                                    @*<td>@j.ToString()</td>*@
                                    <td>
                                        @Html.DisplayFor(m => i.soPhieuHD)
                                        <br /><a href="/Manager/PhieuHoaDon/Detail?type=Detail&maHoaDon=@i.maPhieuHD" class="lnkDetail" data-value="@i.maPhieuHD" id="chiTietHD_@i.maPhieuHD">Chi tiết | </a>
                                        <a href="/Manager/PhieuHoaDon/ChucNang?type=Edit&maPhieuHD=@i.maPhieuHD" class="lnkEdit" data-value="@i.soPhieuHD" id="phieuNK_@i.maPhieuHD">Sửa | </a>
                                        <a href="javascript:void(0)" class="lnkDelete" data-value="@i.maPhieuHD" id="grouphieuHD_@i.maPhieuHD">Xóa</a>
                                    </td>
                                    <td>@Html.DisplayFor(m => i.ngayLap)</td>
                                    <td>@Html.DisplayFor(m => i.tenNguoiLap)</td>
                                    <td>
                                        <a href="/Manager/CTHoaDon/ChucNang?type=Edit&maPhieuHD=@i.maPhieuHD">Chi tiết</a>
                                    </td>
                                    <td>@Html.DisplayFor(m => i.tongTien)</td>
                                    <td> @Html.DisplayFor(m => i.ghiChu)</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="6"> <p style="text-align:center;font-weight:bold;">Không có bản ghi nào</p></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            @*xóa một bản ghi*@
            <div id="dialog-confirm" class="modal" style="display: none">
                <p>
                    @*<i class="fa fa-warning" style="float: left; margin: 0 7px 20px 0; color:#ffd800;"></i>*@
                    <span>Bạn chắc chắn xóa bản ghi này. Tiếp tục?</span>
                </p>
            </div>
            @*kết thúc xóa một bản ghi*@
            <!--Phân trang-->
            @if (ViewBag.TotalPage > 1)
            {
                var pageDisplay = (int)ViewBag.MaxPage;
                int totalPage = (int)ViewBag.TotalPage;
                int currentPage = ((int)ViewBag.Page);

                // Create numeric links
                var startPageIndex = Math.Max(1, currentPage - pageDisplay / 2);
                var endPageIndex = Math.Min(totalPage, currentPage + pageDisplay / 2);

                var link = "/Manager/PhieuNhapKho/Index";
                <nav>
                    <ul class="pagination">
                        @if (currentPage > ViewBag.First)
                        {
                            <li><a href="@link?page=@ViewBag.First" title="Trang đầu" class="first"><i class="fa fa-angle-double-left"></i></a></li>
                            <li>
                                <a href="@link?page=@ViewBag.Prev" title="Trang trước" class="prev"><i class="fa fa-angle-left"></i></a>
                            </li>

                        }
                        @for (int i = startPageIndex; i <= endPageIndex; i++)
                        {
                            if (currentPage == i)
                            {

                                <li> <a href="@link?page=@i" class="active" title="Trang @i">@i</a></li>
                            }
                            else
                            {
                                <li><a href="@link?page=@i" title="Trang @i" class="pos">@i</a></li>
                            }
                        }
                        @if (currentPage < totalPage)
                        {
                            <li><a href="@link?page=@ViewBag.Next" class="next" title="Trang sau"><i class="fa fa-angle-right"></i></a></li>
                            <li> <a href="@link?page=@ViewBag.Last" class="last" title="Trang cuối"><i class="fa fa-angle-double-right"></i></a></li>
                        }

                    </ul>
                </nav>

            }
            else
            {
                @*<span>Không có bản ghi nào</span>*@
            }
            @*kết thúc phân trang*@
        </div>
    </div>
</section>
@section Scripts{
    <script type="text/javascript">
        //$(document).ready(function () {
        //    $('#ngayGN').datepicker();
        //});
    </script>
    <script>
        $(function () {
            //xóa một bản ghi
            $("a.lnkDelete").on("click", function (e) {
                var id = $(this).data('value');//lấy giá trị id của bản ghi
                var $tr = $(this).closest('tr');//lấy hàng
                var answer = confirm("Bạn có chắc chắn xóa bài viết là " + id + " . Tiếp tục?");
                if (answer)
                    $.ajax({
                        type: "POST",
                        url: "@(Url.Action("XoaPhieuHD", "PhieuHoaDon"))",
                        data: { maPhieuHD: id },
                        success: function (data) {
                            if (data == 0) {
                                $tr.css("background-color", "#ec645e");
                                $tr.fadeOut(1600, "linear", function () { $tr.remove(); });
                                location.href = "@Url.Action("Index","PhieuHoaDon")";
                                //hiển thị thông báo ra màn hình
                                message_success("Xóa bản ghi thành công");
                            } else {
                                alert("Bản ghi này có chứa trong bảng khác. Hãy xóa những dữ liệu đó trước!");
                            }
                        },
                        error: function (error) {

                        }

                    });
                @*$("#dialog-confirm").dialog({
                        autoOpen: false,
                        resizable: false,
                        width: 350,
                        show: { effect: 'drop', direction: "up" },
                        modal: true,
                        draggable: true,
                        open: function (event, ui) {
                            $(".ui-dialog-titlebar-close").hide();
                        },
                        buttons:
                            [
                            {
                                "text": "Đồng ý",
                                "class": 'btn btn-default',
                                click: function () {
                                    $(this).dialog("close");
                                    $.ajax({
                                        type: "POST",
                                        url: "@(Url.Action("XoaPhieuHD", "PhieuHoaDon"))",
                                        data: { maPhieuHD: id },
                                        success: function (data) {
                                            if (data == 0) {
                                                $tr.css("background-color", "#ec645e");
                                                $tr.fadeOut(1600, "linear", function () { $tr.remove(); });
                                                location.href = "@Url.Action("Index","PhieuHoaDon")";
                                                //hiển thị thông báo ra màn hình
                                                message_success("Xóa bản ghi thành công");
                                            } else {
                                                alert("Bản ghi này có chứa trong bảng khác. Hãy xóa những dữ liệu đó trước!");
                                            }
                                        },
                                        error: function (error) {

                                        }

                                    });
                                    $(this).dialog("destroy");
                                }

                            },
                {
                    "text": "Hủy bỏ",
                    "class": 'btn btn-default',
                    click: function () {
                        $(this).dialog("close");
                    }
                }
                            ]
                    });
                    $("#dialog-confirm").dialog("open");*@
                return false;
            });
            //Xóa một bản ghi
            function empty() {
                var x = $('#search-box').val();
                if (x == " " || x == null) {
                    var url = window.location.pathname;
                    window.location(url);
                    // return false;
                }
            }
        });
    </script>
}




