@model List<TestDA.Areas.Manager.Models.ViewModel.CTHoaDonData>

@{
    Layout = null;
}
<style>
    td {
        padding: 5px;
    }
</style>
<div class="" style="margin:10px 0;">
    @using (Html.BeginForm("ChucNang", "CTHoaDonData", FormMethod.Post, new { @class = "them-thuc-pham-hoa-don" }))
    {
        @*@Html.AntiForgeryToken()*@
        @Html.ValidationSummary(true)

        @*if (ViewBag.Message != null)
            {
                <div style="border:solid 1px green">
                    @ViewBag.Message
                </div>
            }*@
        <div id="themThucPhamPartial">
            <fieldset class="the-fieldset">
                <legend class="the-legend">
                    <a href="#" id="addNew" class=""><i class="fa fa-plus"></i>Thêm mới thực phẩm</a>
                </legend>
                <table id="dataTable" border="0" cellpadding="0" cellspacing="0" style="background:none;">
                    <thead>
                        <tr>
                            <th>Thực phẩm</th>
                            <th>Ngày lập</th>
                            <th>Số lượng (kg)</th>
                            <th>Ghi chú</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Count > 0)
                        {
                            int j = 0;
                            for (int i = 0; i < Model.Count; i++)
                            {
                                <tr>
                                    @Html.HiddenFor(m => m[i].maHDCT)
                                    <td>
                                        @{
                                var list = (ViewBag.ListTP as SelectList).ToList();
                                list.ForEach(s => s.Selected = false);
                                if (Model[i].maThucPham != null)
                                {
                                    list.First(s => s.Value == Model[i].maHDCT.ToString()).Selected = true;
                                }
                                        }
                                        @*@Html.DropDownListFor(m => m[i].maThucPhamNK, (IEnumerable<SelectListItem>)ViewBag.ListTP, "--Chọn thực phẩm--", new { @class = "form-control" })*@
                                        @Html.DropDownListFor(m => m[i].maThucPham, list, "--Chọn thực phẩm--", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m[i].maThucPham, null, new { @class = "text-danger" })
                                    </td>
                                    <td>
                                        @Html.EditorFor(m => m[i].ngayTao, new { htmlAttributes = new { @class = "form-control textImage ngaytao", @type = "date" } })
                                        @Html.ValidationMessageFor(m => m[i].ngayTao, null, new { @class = "text-danger" })
                                    </td>
                                    <td>
                                        @Html.EditorFor(m => m[i].soLuong,"Số lượng * (kg)", new { htmlAttributes = new { @class = "form-control soluong" } })
                                        @Html.ValidationMessageFor(m => m[i].soLuong, null, new { @class = "text-danger" })
                                    </td>
                                    <td>
                                        @Html.EditorFor(m => m[i].ghiChu, new { htmlAttributes = new { @class = "form-control ghichu" } })
                                        @Html.ValidationMessageFor(m => m[i].ghiChu, null, new { @class = "text-danger" })
                                    </td>
                                    <td>
                                        @if (j > 0)
                                        {
                                            <a href="javascript:void(0)" class="lnkRemove">Xóa</a>
                                        }
                                    </td>
                                </tr>
                                        j++;
                            }
                        }
                    </tbody>
                </table>
            </fieldset>
        </div>
    }
</div>
<style>
    #themThucPhamPartial .the-fieldset {
        border: 1px groove #ddd !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
    }

    #themThucPhamPartial .the-legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: inherit;
        padding: 0 10px;
        border-bottom: none;
    }
</style>
@* Here I will add Jquery Code for validation / dynamically add new rows / Remove rows etc *@
<script>
    $(function () {
        //1. Add new row
        $("#addNew").click(function (e) {
            e.preventDefault();
            var $tableBody = $("#dataTable");
            var $trLast = $tableBody.find("tr:last");
            var $trNew = $trLast.clone();

            var suffix = $trNew.find(':input:first').attr('name').match(/\d+/);
            $trNew.find("td:last").html('<a href="javascript:void(0)" class="lnkRemove">Xóa</a>');
            $.each($trNew.find(':input'), function (i, val) {
                // Replaced Name
                var oldN = $(this).attr('name');
                var newN = oldN.replace('[' + suffix + ']', '[' + (parseInt(suffix) + 1) + ']');
                $(this).attr('name', newN);
                //Replaced value
                var type = $(this).attr('type');
                //
                var name = $(this).attr('name');
                name = name.replace('1', count);
                $(this).attr('name', name);
                //
                if (type == "text") {
                    $(this).find('.soluong').val("0");
                    var a = $(this).find('.soluong').val("0");
                    console.log(a + "hvugyu");
                    $(this).find('.dongia').attr('value', '0');
                    $(this).find('.ghichu').attr('value', '');
                    $(this).attr('value', "");
                }
                // If you have another Type then replace with default value
                $(this).removeClass("input-validation-error");

            });
            $trLast.after($trNew);

            // Re-assign Validation
            var form = $("form.them-thuc-pham-hoa-don")
                .removeData("validator")
                .removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse(form);
        });

        // 2. Remove
        $('#dataTable').on("click", 'a.lnkRemove', function (e) {
            e.preventDefault();
            $(this).parent().parent().remove();
        });

    });
</script>