@model TestDA.Areas.Manager.Models.ViewModel.CTHoaDonData

<table class="table table-bordered table-hover" id="dsThucPhamTheoPhieuNK" >
    <thead>
        <tr class="tp-thucpham" style="background: #fff5ee;">
            <th>STT</th>
            <th>Thực phẩm</th>
            <th>Số lượng (kg)</th>
            <th>Đơn giá</th>
            <th>Thành tiền(VND)</th>
            <th>Ghi chú</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model.danhSachCTHD.Count > 0)
            {
                int j = 0;
                foreach (var i in Model.danhSachCTHD)
                {
                    j++;
                    <tr>
                        <td>@j.ToString()</td>
                        <td>
                            @Html.DisplayFor(m => i.tenThucPham) <div>
                            </div>
                        </td>
                        <td> @Html.DisplayFor(m => i.soLuong)</td>
                        <td> @Html.DisplayFor(m => i.giaCa)</td>
                        <td> @Html.DisplayFor(m => i.thanhTien)</td>
                        <td> @Html.DisplayFor(m => i.ghiChu)</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6"> <p style="text-align:center;">Không có bản ghi nào</p></td>
                </tr>
            }

        }
    </tbody>
</table>@*bảng thành phần chi tiết thực phẩm của phiếu nhập kho*@

