@model TestDA.Areas.Manager.Models.ViewModel.CTHoaDonData

<table class="table table-bordered table-hover" id="dsThucPhamTheoPhieuNK">
    <thead>
        <tr class="tp-thucpham" style="background: #fff5ee;">
            <th>STT</th>
            <th>Thực phẩm</th>
            <th>Số lượng</th>
            <th>Đơn vị tính</th>
            <th>Giá cả</th>
            <th>Thành tiền</th>
            <th>Ghi chú</th>
            <th>Thực hiện</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model.danhSachCTHD.Count > 0)
            {
                int j = 0;
                foreach (var i in Model.danhSachCTHD)
                {
                    j++;
                    <tr>
                        <td>@j.ToString()</td>
                        <td>
                            @Html.DisplayFor(m => i.tenThucPham) <div>
                            </div>
                        </td>
                        <td> @Html.DisplayFor(m => i.soLuong)</td>
                        <td>@Html.DisplayFor(m => i.donViTinh)</td>
                        <td>@Html.DisplayFor(m => i.giaCa)</td>
                        <td>@Html.DisplayFor(m => i.thanhTien)</td>
                        <td> @Html.DisplayFor(m => i.ghiChu)</td>
                        <td>
                            <a href="javascript:void(0)" class="lnkDelete" data-value="@i.maHDCT" id="grouphieuHD_@i.maHDCT">Xóa</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="8"> <p style="text-align:center;">Không có bản ghi nào</p></td>
                </tr>
            }

        }
    </tbody>
</table>@*bảng thành phần chi tiết thực phẩm của phiếu nhập kho*@

@*xóa một bản ghi*@
<div id="dialog-confirm" class="modal" style="display: none">
    <p>
        @*<i class="fa fa-warning" style="float: left; margin: 0 7px 20px 0; color:#ffd800;"></i>*@
        <span>Bạn chắc chắn xóa bản ghi này. Tiếp tục?</span>
    </p>
</div>
@*kết thúc xóa một bản ghi*@
<script>
    $(function () {
        //xóa một bản ghi
        $("a.lnkDelete").on("click", function () {
            //xóa một bản ghi
            $("a.lnkDelete").on("click", function (e) {
                var id = $(this).data('value');//lấy giá trị id của bản ghi
                var $tr = $(this).closest('tr');//lấy hàng
                $("#dialog-confirm").dialog({
                    autoOpen: false,
                    resizable: false,
                    width: 350,
                    show: { effect: 'drop', direction: "up" },
                    modal: true,
                    draggable: true,
                    open: function (event, ui) {
                        $(".ui-dialog-titlebar-close").hide();
                    },
                    buttons:
                        [
                        {
                            "text": "Đồng ý",
                            "class": 'btn btn-default',
                            click: function () {
                                $(this).dialog("close");
                                $.ajax({
                                    type: "POST",
                                    url: "@(Url.Action("XoaCTTP", "CTHoaDon"))",
                                    data: { maHDCT: id },
                                    success: function (data) {
                                        if (data == 0) {
                                            $tr.css("background-color", "#ec645e");
                                            $tr.fadeOut(1600, "linear", function () { $tr.remove(); });
                                            location.reload();
                                            //location.href = "Url.Action("Index","PhieuHoaDon")";
                                            //hiển thị thông báo ra màn hình
                                            message_success("Xóa bản ghi thành công");
                                        } else {
                                            alert("Bản ghi này có chứa trong bảng khác. Hãy xóa những dữ liệu đó trước!");
                                        }
                                    },
                                    error: function (error) {

                                    }

                                });
                                $(this).dialog("destroy");
                            }

                        },
            {
                "text": "Hủy bỏ",
                "class": 'btn btn-default',
                click: function () {
                    $(this).dialog("close");
                }
            }
                        ]
                });
                $("#dialog-confirm").dialog("open");
                return false;
            });
        });
    });
</script>



