@model TestDA.Areas.Manager.Models.ViewModel.HoaDonData

<div class="">
    <h4>THÔNG TIN HÓA ĐƠN</h4>
    <div>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Số phiếu</th>
                    <th>Người lập</th>
                    <th>Ngày lập</th>
                    <th>Tổng tiền (VND)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayFor(model => model.soPhieuHD)</td>
                    <td>@Html.DisplayFor(model => model.tenNguoiLap)</td>
                    <td>@Html.DisplayFor(model => model.ngayLap)</td>
                    <td>@Html.EditorFor(model => model.tongTien, new { htmlAttributes = new { @class = "form-control", @readonly = "true",@style="width: 150px;background-color: #fff;" } })</td>
                </tr>
                <tr>
            </tbody>
        </table>        
    </div>
</div>
<div>
    <h4>THÔNG TIN THỰC ĐƠN</h4>
    <div style="background-color:#fff;padding:15px;">
        @Html.Raw(@Model.noiDungTD)
    </div>
</div>