@model TestDA.Areas.Manager.Models.ViewModel.DMHocPhiData

@{
    ViewBag.Title = "HPTheoNhomLop";
    Layout = "~/Areas/Manager/Views/Shared/_AdminPartial.cshtml";
}

<section class="content-header">
    <h1>
        <i class="fa fa-building-o"></i>
        Định mức học phí
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li class="active">Định mức học phí</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="container body-content ">
        <h3>Định mức học phí theo nhóm lớp</h3>
        <div class="row">
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="col-sm-5">Nhóm lớp:</label>
                    <div class="col-sm-7">
                        @ViewBag.tenNhomLop
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <a href="/Manager/DMHocPhi/ChucNang?type=Insert&&maNhomLop=@ViewBag.maNhomLop" class="btn btn-primary hidden-xs pull-right" style="margin-right:15px;"><i class="glyphicon glyphicon-plus"></i>Thêm mới loại phí cần đóng</a>
                </div>
                
            </div>
        </div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="th-style">
                    <th style="text-align:center;">@*<input type="checkbox" id="checkAll">*@<span id="delete" style="cursor:pointer; color:#3c8dbc;">Xóa</span></th>
                    <th>Loại chi phí</th>
                    <th>Số tiền</th>
                    <th>Ngày áp dụng</th>
                    <th>Năm học</th>
                    <th>Ghi chú</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (Model.danhSachDMHocPhi.Count > 0)
                    {
                        // int j = 0;
                        foreach (var i in Model.danhSachDMHocPhi)
                        {
                            // j++;
                            <tr>
                                <td style="text-align:center;"><input type="checkbox" class="checkBox" value="@i.maDMHP" style="transform: scale(1.5);" /></td>
                                <td>
                                    @Html.DisplayFor(m => i.tenLoaiChiPhi)
                                    <p>
                                        <a href="/Manager/DMHocPhi/ChucNang?type=Edit&maDMHP=@i.maDMHP&maNhomLop=@i.maNhomLop" class="lnkEdit">Chỉnh sửa</a>|
                                    </p>
                                </td>
                                <td> @Html.DisplayFor(m => i.soTien)</td>
                                <td> @Html.DisplayFor(m => i.ngayApDung)</td>
                                <td> @Html.DisplayFor(m => i.namHoc)</td>
                                <td> @Html.DisplayFor(m => i.ghiChu)</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="6"> <p style="text-align:center;">Không có bản ghi nào</p></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        @Html.ActionLink("<< Quay lại danh sách", "Index", "NhomLop")
    </div>
</section>
@section Scripts{
    <script>
        $(document).ready(function () {
            //xóa danh sách tin tức đã chọn trong ô checkbox
            //The pop() method removes the last element of an array, and returns that element.
            $("#checkAll").click(function () {
                $(".checkBox").prop('checked', $(this).prop('checked'));
            });

            $("#delete").click(function () {
                var selectedIDs = new Array();
                $('input:checkbox.checkBox').each(function () {
                    if ($(this).prop('checked')) {
                        selectedIDs.push($(this).val());
                    }
                });
                console.log(selectedIDs.length);
                //nếu không chọn cái nào mà nhấn click thì đưa ra thông báo
                if (selectedIDs.length == 0) {
                    alert("Không có bản ghi nào được chọn.");
                }
                else {
                    var answer = confirm("Bạn có chắc chắn xóa bản ghi đã chọn ?");
                    if (answer) {
                        $.ajax({
                            type: "POST",
                            url: '@(Url.Action("XoaDMHP", "DMHocPhi"))',
                            data: { dmIDs: selectedIDs },
                            dataType: "json",
                            success: function (data) {
                                alert(data);
                                location.reload();
                            },
                            error: function (error) {

                            }
                        });
                    }
                };/////
            });
        });
        //kết thúc xóa tin từ ô checkbox
    </script>
}


