@model TestDA.Areas.Manager.Models.ViewModel.NhuCauDinhDuongData

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Manager/Views/Shared/_AdminPartial.cshtml";
}

<section class="content-header">
    <h1>
        <i class="fa fa-file-text-o"></i>
        Nhu cầu dinh dưỡng
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li class="active">Nhu cầu dinh dưỡng</li>
    </ol>
</section>
<section class="content">
    <!-- Main content -->
    <div class="container body-content">
        <div class="body-style">
            <h2>Thông tin nhu cầu dinh dưỡng của trẻ</h2>
            @using (Html.BeginForm("Index", "NhuCauDinhDuong", FormMethod.Get, new { @class = "form-inline", role = "search", id = "search-form", onsubmit = "return empty();" }))
            {
                @*@Html.AntiForgeryToken()*@
                if (@TempData["Success"] != null)
                {
                    <div class="add-sucess">
                        <script>
                            toastr.options = {
                                "closeButton": true,
                                "debug": false,
                                "newestOnTop": false,
                                "progressBar": false,
                                "positionClass": "toast-bottom-right",
                                "preventDuplicates": false,
                                "onclick": null,
                                "showDuration": "300",
                                "hideDuration": "1000",
                                "timeOut": "5000",
                                "extendedTimeOut": "1000",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut"
                            };
                            toastr["success"]("@TempData["Success"]");
                        </script>
                    </div>
                }
                <div class="form-inline">
                    @Html.Raw("<span class='pull-right'> Tổng số bản ghi là: " + Model.danhSachNCDD.Count().ToString() + "</span>")

                </div>
            }
            @*thêm mới bản ghi*@
            <div class="form-inline" style=" margin: 10px 0;">
                <div class="form-group">
                    <a href="/Manager/NhuCauDinhDuong/ChucNang?type=Insert" class="btn btn-default btn-default hidden-xs"><i class="glyphicon glyphicon-plus"></i>Thêm thông tin</a>
                </div>
            </div>
        </div>
        @*kết thúc form tìm kiếm*@
        <div id="dsTTNhuCauDD">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr class="th-style">
                        <th>STT</th>
                        <th>Tuổi</th>
                        <th>Kcalo</th>
                        <th>Protein</th>
                        <th>Canxi</th>
                        <th>Sắt</th>
                        <th>Vitamin A</th>
                        <th>Vitamin B1</th>
                        <th>Vitamin B2</th>
                        <th>Vitamin PP</th>
                        <th>Vitamin C</th>
                        <th>Ghi chú</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model.danhSachNCDD.Count > 0)
                        {
                            int j = 0;
                            foreach (var i in Model.danhSachNCDD)
                            {
                                j++;
                                <tr>
                                    <td>@j.ToString()</td>
                                    <td>
                                        @Html.DisplayFor(m => i.tuoi)
                                        <br /><a href="/Manager/NhuCauDinhDuong/ChucNang?type=Edit&mancdd=@i.maNhuCauDD" class="lnkEdit" data-value="@i.maNhuCauDD" id="nhuCauDD_@i.maNhuCauDD">Sửa | </a>
                                        <a href="javascript:void(0)" class="lnkDelete" data-value="@i.maNhuCauDD" id="groupNCDD_@i.maNhuCauDD">Xóa</a>
                                    </td>
                                    <td>@Html.DisplayFor(m => i.kcalo)</td>
                                    <td>@Html.DisplayFor(m => i.protein)</td>
                                    <td>@Html.DisplayFor(m => i.calsi)</td>
                                    <td>@Html.DisplayFor(m => i.sat)</td>
                                    <td>@Html.DisplayFor(m => i.vitaminA)</td>
                                    <td>@Html.DisplayFor(m => i.vitaminB1)</td>
                                    <td>@Html.DisplayFor(m => i.vitaminB2)</td>
                                    <td>@Html.DisplayFor(m => i.vitaminPP)</td>
                                    <td>@Html.DisplayFor(m => i.vitaminC)</td>
                                    <td> @Html.DisplayFor(m => i.ghiChu)</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="11"> <p style="text-align:center;font-weight:bold;">Không có bản ghi nào</p></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
@section Scripts{
    <script>
        $(function () {
            //xóa một bản ghi
            $("a.lnkDelete").on("click", function () {
                var id = $(this).data('value');//lấy giá trị id của bản ghi
                console.log(id);
                var $tr = $(this).closest('tr');
                var answer = confirm("Bạn có chắc chắn xóa bản ghi này?Tiếp tục?");
                if (answer)
                    $.ajax({
                        type: "POST",
                        url: "@(Url.Action("XoaNhuCauDD", "NhuCauDinhDuong"))",
                        data: { maNhuCauDD: id },
                        success: function (data) {
                            if (data == 0) {
                                $tr.css("background-color", "#ec645e");
                                location.reload();
                            } else {
                                //
                            }
                        },
                        error: function (error) {
                        }
                    });
                return false;
            });
        })//Xóa một bản ghi
    </script>
}
