@model TestDA.Areas.Manager.Models.ViewModel.NhanVienData

@{
    ViewBag.Title = "ChucNang";
    Layout = "~/Areas/Manager/Views/Shared/_AdminPartial.cshtml";
}

<section class="content-header">
    <h1>
        <i class="fa fa-building-o"></i>
        Nhân viên
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li class="active">Nhân viên</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="container body-content body-nhanvien">
        <h3>@ViewBag.ChucNang </h3>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-nhan-vien">
                <div class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-xs-8 col-sm-5">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        @if (@ViewBag.type == 2)
                                        {
                                            @Html.LabelFor(model => model.maNV, htmlAttributes: new { @class = "col-sm-5" })
                                            <div class="col-sm-7">
                                                @Html.DisplayFor(model => model.maNV)
                                            </div>
                                        }
                                        else
                                        {
                                            @Html.LabelFor(model => model.maNV, htmlAttributes: new { @class = "col-sm-5" })
                                            <div class="col-sm-7">
                                                @Html.EditorFor(model => model.maNV, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.maNV, null, new { @class = "text-danger" })
                                            </div>
                                        }
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ho, htmlAttributes: new { @class = "col-sm-5" })
                                        <div class="col-sm-7">
                                            @Html.EditorFor(model => model.ho, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.ho, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ten, htmlAttributes: new { @class = "col-sm-5" })
                                        <div class="col-sm-7">
                                            @Html.EditorFor(model => model.ten, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.ten, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.gioiTinh, htmlAttributes: new { @class = "col-sm-5" })
                                        <div class="col-sm-6">
                                            @Html.DropDownListFor(model => model.gioiTinh, null, "--Giới tính-- ", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.gioiTinh, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ngaySinh, htmlAttributes: new { @class = "col-sm-5" })
                                        <div class="col-sm-7">
                                            @Html.TextBoxFor(model => model.ngaySinh, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                                            @Html.ValidationMessageFor(model => model.ngaySinh, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.danToc, htmlAttributes: new { @class = "col-sm-5" })
                                        <div class="col-sm-7">
                                            @Html.EditorFor(model => model.danToc, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.danToc, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.tonGiao, htmlAttributes: new { @class = "col-sm-5" })
                                        <div class="col-sm-7">
                                            @Html.EditorFor(model => model.tonGiao, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.tonGiao, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>@*end*@
                            <div class="col-xs-4 col-sm-7">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.trinhDo, htmlAttributes: new { @class = "col-sm-4" })
                                        <div class="col-sm-8">
                                            @Html.EditorFor(model => model.trinhDo, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.trinhDo, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.soCMND, htmlAttributes: new { @class = "col-sm-4" })
                                        <div class="col-sm-8">
                                            @Html.EditorFor(model => model.soCMND, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.soCMND, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ngayCapCMND, htmlAttributes: new { @class = "col-sm-4" })
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(model => model.ngayCapCMND, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                                            @Html.ValidationMessageFor(model => model.ngayCapCMND, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.noiCapCMND, htmlAttributes: new { @class = "col-sm-4" })
                                        <div class="col-sm-8">
                                            @Html.EditorFor(model => model.noiCapCMND, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.noiCapCMND, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ngayVaoDang, htmlAttributes: new { @class = "col-sm-4" })
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(model => model.ngayVaoDang, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                                            @Html.ValidationMessageFor(model => model.ngayVaoDang, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.soTheDang, htmlAttributes: new { @class = "col-sm-4" })
                                        <div class="col-sm-8">
                                            @Html.EditorFor(model => model.soTheDang, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.soTheDang, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>@*end*@
                            </div>
                        </div>@*end*@
                    </div>
                    <div class="col-md-3">
                        @*/upload hình ảnh*@
                        <div class="">
                            <a id="chooseImage" href="#">Chọn ảnh</a>
                            @Html.TextBoxFor(model => model.hinhAnh, new { @id = "UploadedFile", @class = "form-control", @readonly = true })
                        </div>
                        <div class="InfoContainer">
                            <div id="Imagecontainer" style="height: 25rem;">
                                <img src="@ViewBag.hinhAnh" alt="@Html.DisplayFor(model =>model.ten)" id="ImageHS">
                            </div>
                        </div>
                        <div id="" class="info">
                            Kích thước: <span id="FileSize"></span>
                        </div>
                        @Html.ValidationMessageFor(model => model.hinhAnh, null, new { @class = "text-danger" })
                        @*//hình ảnh*@
                    </div>
                </div>
                <div class="clearfix"></div>
                @*thông tin cha mẹ*@
                <div class="">
                    <fieldset class="the-fieldset">
                        <legend class="the-legend">Thông tin làm việc:</legend>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.chucVu)
                            @Html.EditorFor(model => model.chucVu, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.chucVu, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.quyenTruyCap)
                            @if (@Context.User.Identity.Name != "admin")
                            {
                                <div class="form-control">
                                    <b>@Html.DisplayFor(model => model.tenQuyenTruyCap)</b>
                                </div>
                            }
                            else
                            {
                                @Html.DropDownListFor(model => model.quyenTruyCap, null, "--Quyền sử dụng hệ thống-- ", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.quyenTruyCap, null, new { @class = "text-danger" })
                            }
                        </div>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.loaiHopDong)
                            @Html.EditorFor(model => model.loaiHopDong, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.loaiHopDong, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.ngayVaoLamViec)
                            @Html.TextBoxFor(model => model.ngayVaoLamViec, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                            @Html.ValidationMessageFor(model => model.ngayVaoLamViec, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.daNghiViec)
                            @Html.DropDownListFor(model => model.daNghiViec, null, "--Tình trạng-- ", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.daNghiViec, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.ngayNghiViec)
                            @Html.TextBoxFor(model => model.ngayNghiViec, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                            @Html.ValidationMessageFor(model => model.ngayNghiViec, null, new { @class = "text-danger" })
                        </div>

                    </fieldset>
                </div>
                @*//thông tin liên hệ*@
                <div class="">
                    <fieldset class="the-fieldset">
                        <legend class="the-legend">Thông tin liên hệ:</legend>
                        <div class="form-group col-md-5">
                            @Html.LabelFor(model => model.diaChi)
                            @Html.EditorFor(model => model.diaChi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.diaChi, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-3">
                            @Html.LabelFor(model => model.dienThoai)
                            @Html.EditorFor(model => model.dienThoai, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.dienThoai, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.email)
                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.email, null, new { @class = "text-danger" })
                        </div>
                    </fieldset>
                </div>
                @*end*@
                <div class="clearfix"></div>

                <div class="row">
                    @Html.LabelFor(model => model.ghiChu, htmlAttributes: new { @class = "col-sm-2" })
                    <div class="col-sm-6">
                        @Html.TextAreaFor(model => model.ghiChu, new { @class = "form-control", @rows = 5 })
                        @Html.ValidationMessageFor(model => model.ghiChu, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="">
                    @Html.ActionLink("<< Quay lại danh sách", "Index", "NhanVien")
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="reset" class="btn btn-primary" style="margin-right:10px;"><i class="fa fa-refresh"></i>Làm mới</button><button type="submit" value="Lưu thông tin" class="btn btn-primary"><i class="fa fa-save"></i>Lưu thông tin</button>
                    </div>
                </div>
                @*end*@

            </div>
        }
    </div>
</section>
@section Scripts{
    @*add checkeditor*@
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>

    @*add ckfinder*@
    <script src="~/Scripts/ckfinder/ckfinder.js"></script>

    <script>
        $(document).ready(function () {
            //tạo thư mục upload ảnh sử dụng ckfinder
            $('#chooseImage').click(function (e) {
                e.preventDefault();
                var finder = new CKFinder();
                ////
                finder.selectActionFunction = function (url, data) {
                    //console.log(file[0]['value'].data);
                    console.log(data);
                    var selectedFile = data['fileUrl'];
                    console.log(selectedFile);
                    if (selectedFile) {
                        var FileSize = 0;
                        if (data['fileSize'] > 1024) {
                            FileSize = Math.round(data['fileSize'] * 100 / 1024) / 100 + " MB";
                        }
                        else {
                            FileSize = data['fileSize'] + " KB";
                        }
                        // here we will add the code of thumbnail preview of upload images
                        $("#FileSize").text(FileSize);
                    }
                    $("#Imagecontainer").empty();
                    var img = new Image()
                    img.src = selectedFile;
                    img.className = "thumb";
                    $("#Imagecontainer").append(img);
                    //hiển thị đường dẫn ảnh lên textbox
                    $('#UploadedFile').val(url);
                }
                finder.popup();
            });
        });
    </script>
}





