@model TestDA.Areas.Manager.Models.ViewModel.OptionData
@{
    ViewBag.Title = "ChucNang";
    Layout = "~/Areas/Manager/Views/Shared/_AdminPartial.cshtml";
}
<section class="content-header">
    <h1>
        <i class="fa fa-newspaper-o"></i>
        Trang
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li class="active">Trang</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="container body-content">
        <h2>@ViewBag.ChucNang</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="body-post">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                
                <div class="form-group">
                    @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", @id = "title-news" } })
                    <p>Thêm tiêu đề cho trang</p>
                    @Html.ValidationMessageFor(model => model.name, null, new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.order,"Hiển thị lên trang chủ", htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.order,null,"--Lựa chọn--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.order, null, new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.content, htmlAttributes: new { @class = "control-label" })
                    @Html.TextAreaFor(model => model.content, new { @class = "form-control", @id = "ckeContent" })
                    <script type="text/javascript"> CKEDITOR.replace('ckeContent', { customConfig: '/Scripts/ckeditor/config.js', height: 400, }); </script>
                    @Html.ValidationMessageFor(model => model.content, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @*@Html.ActionLink("<< Quay lại danh sách", "Index", "PageIndex", new { type="page"})*@
                    <div class=" col-sm-offset-3">
                        <button type="reset" class="btn btn-primary"><i class="fa fa-refresh"></i>  Làm lại</button><button type="submit" class="btn btn-primary" style="margin-left:10px;"><i class="fa fa-save"></i>  Lưu thông tin</button>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        }
    </div>
</section>
@section Scripts{
    <script src="~/Scripts/admin/news.js"></script>

    @*add checkeditor*@
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>

    @*add ckfinder*@
    <script src="~/Scripts/ckfinder/ckfinder.js"></script>
}


